[submodule "coolsim-viewer"]
	path = viewer
	url = ../coolsim-viewer.git
[submodule "coolsim-store"]
	path = store
	url = ../coolsim-store.git
[submodule "coolsim-configuration"]
	path = configuration
	url = ../coolsim-configuration.git
[submodule "coolsim-agentmanager"]
	path = agent-manager
	url = ../coolsim-agentmanager.git
[submodule "coolsim-simulator"]
	path = simulator
	url = ../coolsim-simulator.git
[submodule "coolsim-location"]
	path = location
	url = ../coolsim-location.git
[submodule "coolsim-device"]
	path = device
	url = ../coolsim-device.git
[submodule "coolsim-utilities"]
	path = utilities
	url = ../coolsim-utilities.git
